.box {
    background-image: url(./assets/pokemon-background.png);
    background-size: contain;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: auto;
}

.choices, .messages {
    display: none;
    text-align: center;

    justify-content: center;
}

#message-box {
    border: 5px solid #077187;
    background-color: #c1dff0bb;
    height: 10em;
    width: auto;
    grid-row: 3/3;
    grid-column: 1/4;
    text-align: center;
    border-radius: 0.5em;

    display: grid;
    justify-content: center;
    text-align: center;
}

/* .message {
    grid-column: 1/3;
} */

#play-again {
    display: none;
}

/* This button style was sourced from https://adamschwartz.co/magic-of-css/potions/buttons/ */

.choice-btns, #start-btn, #continue{
    outline: none;
    margin: 0;
    background-color: #077287ab;
    cursor: pointer;
    border: 0;
    padding: .4em .8em;
    text-rendering: optimizeLegibility;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    color: inherit;

    height: 3em;
    width: 20em;

    border-radius: 0.5em;
    border: 1px solid black;
}

#point {
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    justify-content: center;

    grid-gap: 3px;
}

#scoreboard_container{
    grid-row: 1/1;
    grid-column: 2/3;

    display: flex;
    justify-content: center;
}

.scoreboard {
    border: 1px solid red;
    border-radius: 0.4em;
    background-color: #3586a4a6;

    height: 5em;
    width: 15em;

    text-align: center;
}

button:hover, #start-btn:hover {
    background-color: #c1dff0bb;

    animation: shake 0.5s;
}


@keyframes shake {
    0%{
        transform: rotate(3deg);
    }
    20%{
        transform: rotate(-3deg);
    }
    40%{
        transform: rotate(2deg);
    }
    60%{
        transform: rotate(-2deg);
    }
    80%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}