/* Downloaded a font from "https://www.fontspace.com/pokemon-gb-font-f9621". Added a "Fonts" directory and linked to the folder using @font-face. */
@font-face{
    src: url("./assets/Fonts/PokemonGb-RAeo.ttf");
    font-family: Pokemon;
}

.box {
    background-image: url(./assets/images/pokemon-background.png);
    background-size: contain;
    background-position: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: auto;
}

.choices, .messages {
    display: none;
    text-align: center;

    justify-content: center;
}

#message-box {
    border: 5px solid #077187;
    background-color: #c1dff0bb;
    height: 10em;
    width: 45em;
    grid-row: 3/3;
    grid-column: 2/3;
    text-align: center;
    border-radius: 1em;

    display: flexbox;
    justify-content: center;
    text-align: center;

    font-family: Pokemon;
    font-size: 15px;

    visibility: hidden;
}

/* This button style was sourced from https://adamschwartz.co/magic-of-css/potions/buttons/ */
.choice-btns, #start-btn, #continue, #ok-btn{
    outline: none;
    margin: 0;
    background-color: #077287ab;
    cursor: pointer;
    border: 0;
    padding: .4em .8em;
    text-rendering: optimizeLegibility;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    color: inherit;

    height: 2.5em;
    width: 10em;

    border-radius: 0.5em;
    border: 1px solid black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-gap: 5px;

    position: relative;
    left: 15%;
}

button:hover, #start-btn:hover, #continue:hover, #ok-btn:hover {
    background-color: #c1dff0bb;
    animation: shake 0.5s;
}

#scoreboard_container{
    grid-row: 1/1;
    grid-column: 2/3;

    display: flex;
    justify-content: center;
}

.scoreboard {
    border: 3px solid red;
    border-radius: 3em;
    background-color: #3586a4a6;

    height: 5em;
    width: 15em;

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
}

#rules-box {
    grid-row: 2/2;
    grid-column: 2/3;

    display: flex;
    justify-content: center;
    align-content: center;
}

#rules {
    border: 5px solid #077187;
    background-color: #c1dff0bb;
    border-radius: 1em;

    text-align: center;
    width: 35em;

    font-family: pokemon;
    font-size: 13px;
    line-height: 1.4;
}

#cpu{
    grid-row: 2/2;
    grid-column: 3/3;

    object-fit: cover;
    max-height: 100%;

    position: relative;
    left: -8em;
    top: -2em;
}

#player {
    grid-row: 2/2;
    grid-column: 2/2;

    position: relative;
    left: -7em;
    top: 2em;
}

/* I'll be honest I don't remember if this does anything at all but I'm too scared to change it at this point */
#point {
    text-align: center;
}

.characters {
    visibility: hidden;
}

@keyframes shake {
    0%{
        transform: rotate(3deg);
    }
    20%{
        transform: rotate(-3deg);
    }
    40%{
        transform: rotate(2deg);
    }
    60%{
        transform: rotate(-2deg);
    }
    80%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}